.zagorodNPCContainer {
  text-shadow: #fc0 1px 0 10px;
  position: absolute;
  bottom: 82px;
  right: 10px;
  width: 218px;
  text-align: center;
  background-color: #704526;
  padding: 1px 3px;
  color: white;
  border: 1px solid #704848;
  cursor: pointer;
  font-size: 12px;
  display: block;
  z-index:999;
}
.zagorodNPCButton {

}